body {
    margin: 0;
    padding: 0;
  }

main {
    padding: 16px;

  }

footer {
    padding: 24px;
    background-color: #04BF8A;
  }

footer p {
    margin: 0;
  }

img {
    height: 200px;
  }

nav {
    border-bottom: 1px solid rgb(5, 0, 0);
    padding: 16px;
    background-color: #04BF8A;
    border-bottom-color: rgba(76, 82, 76, 0.227);
  }

a {
  text-decoration: none;
}


nav a {
  color: rgb(250, 250, 253);
  font-size: 20px;
}



tr:nth-child(even) {
  background-color: #cecbcb;
}

div h3 a {
  color: #22eb44;
}

.vegetarian-tacos {
  color: #22eb44;
}

.tacos-pictures {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
}

.scrumptious-recipes {
  color: #05ebb9;
}

tr:hover {background-color: coral;}
